{{#>content}}
  <div class="row">
    <div class="col-12">
      <div class="slider">
        <div>
          <a href="https://www.youtube.com/embed/G-plAGCxBMo" target="_blank">
            <img class="img-fluid m-auto" width="800" height="450" src="/images/video1.JPG" alt="Wild Ones vid1" />
          </a>
        </div>
        <div>
          <a href="https://www.youtube.com/embed/q6wSJ-e40uA" target="_blank">
            <img class="img-fluid m-auto" width="800" height="450" src="/images/video2.JPG" alt="Wild Ones vid1" />
          </a>
        </div>
        <div>
          <a href="https://www.youtube.com/embed/wH0qGAze8zk" target="_blank">
            <img class="img-fluid m-auto" width="800" height="450" src="/images/video3.JPG" alt="Wild Ones vid1" />
          </a>
        </div>
      </div>
    </div>
  </div>
  {{/content}}