{{#>content}}
  <div class="row">
    <div class="col-6 img-container-p1 p-3 img-text part-3-3">
      <h2>MEKELTESAR</h2>
      <div class="img-text position-bottom">
        <p>28 <b>AUG</b> 2019</p>
        <p><b>LIVE AT YAMASHITA, YOKOHAMA</b></p>
        <a class="btn-black">GET TICKETS</a>
      </div>
    </div>
    <div class="col-6">
      <div class="img-container p-3 img-text part-3-2">
        <h2>RADIOTUN</h2>
        <div class="img-text position-middle">
          <p>4 <b>SEP</b> 2019</p>
          <p><b>LIVE AT YAMASHITA, YOKOHAMA</b></p>
          <a class="btn-black">GET TICKETS</a>
        </div>
      </div>

      <div class="img-container p-3 mt-3 img-text part-3-1">
        <h2>CHOR U SEVCAV</h2>
        <div class="img-text position-bottom">
          <p><b>OCT</b> 2019</p>
          <p><b>NEW ALBUM IS COMING UP</b></p>
          <a class="btn-black">PRE-ORDER</a>
        </div>
      </div>
    </div>
  </div>
{{/content}}