{{#>content}}
  <div class="img-container-p1 page1 img-text p-4 text-uppercase">
    <h1>Wild ones</h1>
    <h2>are taking over</h2>
    <p>11 <b>AUG</b> 2019</p>
    <p><b>LIVE AT BUDOOKAN, TOKYO</b></p>
    <a class="btn-black">GET TICKETS</a>
  </div>
{{/content}}