{{#>contentLast}}
  <div class="img-container-p1 page5 p-4 text-uppercase">
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5 float-right img-text">
        <h2>Never</h2>
        <h2 style="margin-top: -17px">miss an event</h2>
        <input type="email" class="form-control-blk" placeholder="Your Email">
        <a class="btn-black">SUBSCRIBE</a>
      </div>
    </div>
  </div>
{{/contentLast}}